<h1>Edit Article <%= @article.id %> </h1>
<hr>

<%= link_to("Back", {:action => "index"}, :class => "btn btn-primary") %>

<%= form_for(:article, :url => {:action => "update", :id => @article.id}) do |field| %>

<%= render(:partial => "form", :locals => {:field => field}) %>

<div>
  <%= submit_tag("Update") %>
</div>

<%end %>
